<h2>Make a new friend <%= link_to 'New Friend', new_friend_path, class: 'new-friend' %></h2>

<section id="friends">
  <% @friends.each do |friend| %>
    <div class="friend" id="<%= friend.id %>">
      <%= link_to 'x', friend, confirm: 'Are you sure you want to lose a friend?', method: :delete, class: 'destroy' %>
      <%= link_to friend, class: 'pic-link' do %>
        <%= image_tag friend.avatar.url(:thumb) %>
      <% end %>
      <span><%= link_to friend.name, friend, class: 'friend-name' %></span>
    </div>
  <% end %>
</section>