<p id="notice"><%= notice %></p>

<h2><%= @friend.name %></h2>
  <%= image_tag @friend.avatar.url(:medium) %>

<div class="show actions">
  <%= link_to 'Edit', edit_friend_path(@friend) %>
  <%= link_to 'Remove', @friend, data: { confirm: 'Are you sure you want to lose a friend?' }, method: :delete, class: 'destroy' %>
  <%= link_to 'Back to all my friends', friends_path %>
</div>