<!DOCTYPE html>
<html>
<head>
  <title>PaperclipDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag("logo.png") %>
    <h1>Paperclip on Heroku Demo</h1>
  </header>

<div id="main-wrap">
  <%= yield %>
</div>

</body>
</html>
